#a{ width: 205px;
    font-size: 15px;
    background-color: #ddd;
    
    }
#b{ width: 205px;
    font-size: 15px;
    background-color: #ddd;
    
    }
#c{ width: 205px;
    font-size: 15px;
    background-color: #e4be41;
    
    }
#d{ width: 205px;
    font-size: 15px;
    background-color: #ddd;

    }
#e{ width: 205px;
    font-size: 15px;
    background-color: #ddd;

    }
#f{ width: 205px;
    font-size: 15px;
    background-color: #ddd;

    }


    #nn{

        width: 643px;
        font-size: 15px;
        background-color: #ddd;
    }
    #mm{

        width: 643px;
        font-size: 15px;
        background-color: #ddd;
    }
  